body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  background-color: #121212;
  color: #f0f0f0;
  padding: 0 1rem;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #1e1e1e;
}
.tagline {
  font-style: italic;
  color: #ccc;
}

main {
  max-width: 800px;
  margin: 2rem auto;
}

h1,
h2 {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: #ffcc00;
  padding: 0%;
  margin: auto;
}
h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

#ContentArea {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr;

  grid-template-areas:
    "Log Stats"
    "Actions Movement";
  gap: 1em;
  padding: 1em;
}

#CombatLog {
  grid-area: Log;
  height: 100%;
  max-height: 35em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.BodyText {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

#PlayerActionInputContinue,
#PlayerActionInputSubmit {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}

button > p {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  padding: 0;
  margin: 0;
}

#TextArea {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  justify-content: stretch;
}
#TextArea * {
  margin: 0em;
  line-height: normal;
  padding-top: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#ActionInput {
  width: 85%;
  margin-bottom: 1em;
}

#PlayerTextInput {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

#PlayerTextInput * {
  height: 2em;
}

.Window {
  border: 5px solid white;
}
#Stats {
  grid-area: Stats;
  padding: 1em;
}
#Actions {
  grid-area: Actions;
}

#ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
}
.ActionButton {
  width: 100%;
}

.ActionButton button {
  width: 100%;
  height: 4.5em;
}
#MovementRose {
  grid-area: Movement;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#DocumentationLink {
  text-align: center;
}
